# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*$py.class

# ==========================
# Entornos virtuales
# ==========================

.venv/
venv/
env/

# ==========================
# Django
# ==========================

*.log
*.pot
*.mo
*.sqlite3
db.sqlite3

# Configuración local
.env


# ==========================
# Archivos multimedia
# ==========================

media/

# ==========================
# IDE
# ==========================

.vscode/
.idea/
*.swp
*.swo

# ==========================
# Sistema operativo
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Archivos estáticos generados
# ==========================

staticfiles/