{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    
    <div class="card shadow-lg">
        <div class="card-header bg-dark text-white">
            <h4 class="mb-0">Registrar Abono</h4>
        </div>
        <div class="card-body bg-light">
            <form method="post">
                {% csrf_token %}
                
               {% if cliente_seleccionado %}
                    <div class="mb-3">
                        <label class="form-label">Cliente</label>
                        <input
                            type="text"
                            class="form-control"
                            value="{{ cliente_seleccionado.nombre }}"
                            readonly
                        >
                        <input
                            type="hidden"
                            name="cliente"
                            value="{{ cliente_seleccionado.id }}"
                        >
                    </div>
                    {% else %}
                    <div class="mb-3">
                        {{ form.cliente.label_tag }}
                        {{ form.cliente }}
                    </div>
                {% endif %}
                
                <div class="mb-3">
                    {{ form.monto.label_tag }}
                    {{ form.monto }}
                </div>

                <div class="mb-3">
                    {{ form.metodo_pago.label_tag }}
                    {{ form.metodo_pago }}
                </div>

                <button type="submit" class="btn btn-success w-100">
                    <i class="bi bi-cash-coin"></i> Registrar Abono
                </button>
            </form>
        </div>
    </div>
</div>

<!-- Botón de regreso -->
    <div class="d-flex justify-content-center justify-content-md-end mt-4 mb-2 ms-2 me-2">
        <a href="{% url 'cliente_app:lista-clientes' %}" class="btn-volver">
            ⬅ Volver al Dashboard
        </a>
    </div>
{% endblock %}
