{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <form method="POST" class="p-4 border rounded" style="border-color: #424242;">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <h4 class="text-center mb-4">Acceso al Sistema</h4>

        <div class="mb-3">
          <label class="form-label">Email:</label>
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-envelope"></i></span>
            {{ form.email|add_class:"form-control" }}
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Password:</label>
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-lock"></i></span>
            {{ form.password|add_class:"form-control" }}
          </div>
        </div>

        <button type="submit" class="btn btn-warning w-100">Ingresar</button>
      </form>
    </div>
  </div>
</div>

<script>
  window.addEventListener("pageshow", function (event) {
      if (event.persisted) {
          location.reload();
      }
  });
</script>
{% endblock %}

